* {
    margin: 0;
    padding: 0;
  }
  
  body
  {
    font-size: 30px;
    background-color:Black;
  }
  
  header {
    background-color: #83482d
  }
  
  .logo_subtitle {
    text-align: center;
  }
  
  .logo_subtitle img {
    /* border: 3px solid Black; */
    width: 400px;
    padding: 50px 0;
  }
  
  .logo_subtitle h5 {
    margin: 50px 0px;
    padding: 50px 50px;
  }
  
  nav {
    text-align: left;
    /* border: 10px solid purple; */
    margin-bottom: 0px;
    margin-top: 60px;
    padding: 40px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    /* border: 1px solid blue; */
  }
  
  nav li {
    margin: 0px 0px;
    font-size: 1rem;
  }
  
  nav a {
    color: antiquewhite;
  }
  
  nav a:hover {
    color: rgb(26, 23, 20);
  }
  
  main {
    /* border: 8px solid green; */
    padding-left: 0px;
    text-align: left;
    background-color: PeachPuff;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
  
  main p {
    padding: 80px;
  }
  
  main h3 {
    text-align: center;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* border: 5px solid blueviolet; */
    justify-items: center;
    align-items: center;
    margin: 60px 10px;
    grid-gap: 10px;
  }
  
  .item {
    justify-self: center;
  }
  
  .grid img {
    /* border: 10px solid Brown; */
    width: 100%;
    max-width: 400px;
  }
  
  .button {
    margin-top: 30px;
  }
  
  .button:hover {
    background-color: rgb(45, 37, 158);
  }
  
  .explore {
    display: inline;
    height: 40px;
    width: 100%;
    border: 3px solid rgb(41, 6,13);
    background-image: 
      radial-gradient(rgb(106, 106, 112), blue);
  }
  
  .explore:hover {
    background-color: chocolate;
  }
  
  #videos {
    text-align: center;
    margin-bottom:20px;
  }
  
  .videolist {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .videolist ul {
    margin-bottom: 40px;
  }
  
  .videolist li {
    list-style: none;
  }
  
  #graphics {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .graphics_pics {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .graphics_pics ul {
    margin-bottom: 40px;
  }
  
  .graphics_pics li {
    list-style: none;
  }
  
  footer {
    background-color: Black;
    color: White;
  }
  
  footer p {
    padding: 40px 140px;
    text-align: center;
  }
  
  .fab {
    font-size: 40px;
    color: blue;
  }
  
  .instagram-icon {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  
  .far {
    font-size: 40px;
    color: blue;
  }
  
  .email-icon {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }